@model UsuarioModel

<div>
    <form asp-controller="Login" class="formulario" asp-action="VerificarLogin" method="post">
        <input name="Email" class="form-control" type="text" asp-for="Email" placeholder="Email" aria-label="default input example" style="margin:10px;">
        <input name="Senha" class="form-control" type="password" asp-for="Senha" placeholder="Senha" aria-label="default input example" style="margin:10px;">

        <input type="submit" class="btn btn-primary" style="margin-top:10px;">
    </form>
</div>