@model EnderecoModel
@{
}

<div>
    <form asp-controller="Desaparecido" asp-action="CadastrarEndereco" method="post" enctype="multipart/form-data">
        <input name="Rua" class="form-control" type="text" asp-for="Rua" placeholder="Rua" aria-label="default input example">
        <input name="Numero" class="form-control" type="text" asp-for="Numero" placeholder="Numero" aria-label="default input example">
        <input name="Complemento" class="form-control" type="text" asp-for="Complemento" placeholder="Complemento" aria-label="default input example">
        <input name="Bairro" class="form-control" type="text" asp-for="Bairro" placeholder="Bairro" aria-label="default input example">
        <input name="Municipio" class="form-control" type="text" asp-for="Municipio" placeholder="Municipio" aria-label="default input example">
        <input name="UF" class="form-control" type="text" asp-for="UF" placeholder="UF" aria-label="default input example">

        <input type="submit" class="btn btn-primary">
    </form>
</div>
